*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 50%; // 1rem = 8 px
	
	@media only screen and (min-width: 56.25em) {  // 900px (900/16)
		font-size: 62.5%;
	}
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	min-height: 100vh;
	background-image: linear-gradient(to right bottom, $primary-light, $primary);
  background-size: cover;
	background-repeat: no-repeat;
}

::selection {
  background-color: $secondary;
  color: $grey;
}
